<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logFilePath" value="${basedir}/Logs/${processname}"/>
  <targets>
    <target xsi:type="ColoredConsole" name="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${logger:shortName=true}|${level:uppercase=true}|${message} ${exception:format=tostring}">
    </target>
    <target name="logFile" xsi:type="File" fileName="${logFilePath}.log" concurrentWrites="false" archiveAboveSize="1024000" archiveFileName="${logFilePath}.{#####}.log" maxArchiveFiles="0">
      <layout xsi:type="CsvLayout" delimiter="Tab" quoting="Nothing">
        <column layout="${longdate}">
        </column>
        <column layout="${logger}">
        </column>
        <column layout="${level}">
        </column>
        <column layout="${Message}">
        </column>
        <column layout="${exception:format=tostring}">
        </column>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="logFile" />
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="Console"/>
  </rules>
</nlog>