<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<extensions>
    <add assembly="LogentriesNLog"/>
  </extensions>-->
  <variable name="logFilePath" value="${basedir}/Logs/${processname}"/>
  <targets>
    <target xsi:type="Trace" name="Console" layout="${logger:shortName=true}|${level:uppercase=true}|${message} ${exception:format=tostring}" />        
    <target name="LogFile" xsi:type="File" fileName="${logFilePath}.log" concurrentWrites="false" archiveAboveSize="1024000" archiveFileName="${logFilePath}.{#####}.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:uppercase=true} | ${message} ${exception:format=tostring}" />
    
    <!--<target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="true" layout="${logger} |${LEVEL}| ${message} ${exception:format=tostring}"/>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <!--<logger name="*" minLevel="Debug" appendTo="logentries"/>-->
  </rules>
</nlog>