<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.0.1" targetFramework="net40" />
  <package id="XL-ID.UniBIO.Services.Communication" version="1.1.22" targetFramework="net40" />
  <package id="XL-ID.Utilities" version="1.4.17" targetFramework="net40" />
  <package id="XL-ID.Utilities.SearchFilters" version="1.0.3" targetFramework="net40" />
</packages>